server {
	listen $api_int_port;

	server_name $api_server_name;

    charset utf-8;

    location /static/ {
        autoindex on;
        root /home/appuser/src/app/;
    }

    location /media/ {
        autoindex on;
        root /home/appuser/src/app/;
    }

    location / {
        resolver 127.0.0.11 valid=30s;
        set $upstream $core_protocol://$core_host_name:$core_port;
        proxy_pass $upstream;
        include  proxy.conf;
    }
}
