.idea
venv
*/**/venv
local_settings.py
__pycache__/
*/.pytest_cache
*/__pycache__/
*.py[cod]
.pyc
*/coverage
*/__tests__

.env
.env.*
.env.prod

#server/app/db.sqlite3

*/**/temp/
*temp/*
*/**/.testmondata

*/downloads/*
COMMANDS.md
#!/server/app/templates/

/server/app/media/
/.pytest_cache/
/dbs/media
/dbs/db.sqlite3

/client/.pnpm-store/
/client/dist/
*/.bash_history

