<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="https://www.w3.org/1999/xhtml" lang="ru">
<head>
    <title>HTML email template</title>
    <meta name="viewport" content="width = 375, initial-scale = -1">
</head>

<body style="background-color: #ffffff; font-size: 16px;">
<center>
    {% load i18n %}{% autoescape off %}
        <table align="center" border="0" cellpadding="0" cellspacing="0" style="height:100%; width:600px;">
            <!-- BEGIN EMAIL -->
            <tbody>
            <tr>
                <td align="center" bgcolor="#ffffff" style="padding:30px">
                    <p style="text-align:left">Вы получили это письмо, потому что вы (или кто-то другой) запросили восстановление пароля от учётной записи на сайте {{ site_addr }}, которая связана с этим адресом электронной почты.
                    </p>
                    <p>
                        <a target="_blank"
                           style="text-decoration:none; background-color: #636363; color: #fff; padding:10px 10px; display:block;"
                           href="{{ reset_password_url }}"><strong>Сброс пароля</strong></a>
                    </p>
                    <p style="text-align:left">Это одноразовая ссылка. Если Вам нужен новый запрос на сброс пароля, то посетите снова
                        {{ site_addr}} и повторите запрос.<br><br>Если вы не делали этот запрос, то просто проигнорируйте это письмо</p>
                    <p style="text-align:left">С наилучшими пожеланиями, команда {{ site_addr}}.</p>
                </td>
            </tr>
            </tbody>
        </table>
    {% endautoescape %}
</center>
</body>
</html>
